# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake stuff
build
ssk
resources/cfg/plugins.cfg

# Vim stuff
Session.vim
.syntastic_cpp_config
*~

# Ogre stuff
Ogre.log

# VS stuff
*.sln
Debug
Release
ssk.dir
Win32
.vs
Installer

# emacs backup files and locks
*~
.#*
*#

# Score file
score
score.txt
/Swords Scrolls Knuckles/
